.sjdwr_papago_jp_to_kor {
    border: 8px solid #ffffff; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: sjdwr_papago_jp_to_kor_spin 0.7s ease-in-out infinite;
  }
  
  @keyframes sjdwr_papago_jp_to_kor_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }