@charset 'UTF-8';

body {
	width:200px;
}

.options {
	padding:20px 0;
}

.select_language {
	width:150px;
}

.sjdwr_papago_jp_to_kor_switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
  }
  
  .sjdwr_papago_jp_to_kor_switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .sjdwr_papago_jp_to_kor_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .sjdwr_papago_jp_to_kor_slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .sjdwr_papago_jp_to_kor_slider {
	background-color: #2196F3;
  }
  
  input:focus + .sjdwr_papago_jp_to_kor_slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sjdwr_papago_jp_to_kor_slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .sjdwr_papago_jp_to_kor_slider.sjdwr_papago_jp_to_kor_round {
	border-radius: 17px;
  }
  
  .sjdwr_papago_jp_to_kor_slider.sjdwr_papago_jp_to_kor_round:before {
	border-radius: 50%;
  }